/* directional start */
.directional {
    margin-top: 40px;
}

.directional-list {
    list-style: none;
    display: flex;
    flex-direction:flex-start;
    flex-wrap: wrap;
}

.directional-item {
    padding-right: 10px;
}

.directional-item a {
    color: #1F2224;
    font-size: 15px;
}
/* directional end */


/* list article start */
.article__container {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 25px;
}

.list-article {
    margin-top: 40px;
}

.article__time i {
    color: #FFC600;
}

.article__title {
    line-height:25px;
}

.article__time {
    margin: 8px 0;
}

.article__short_description {
    line-height:23px
}

.article {
    padding-bottom: 50px;
}

.article-border {
    border: 1px solid #ddd;
    padding-top: 25px;
    margin-bottom: 25px;
}

.related-categories {
    margin-top: 40px;
}

.related-categories h2 {
    text-transform: uppercase;
    border-bottom: 2px solid var(--black);
    display: inline-block;
}

.search_sidebar h2 {
    border-bottom: 2px solid var(--black);
    display: inline-block;
}

.search_sidebar form {
    height: 45px;
    margin-top: 20px;
}

.search_sidebar form>div {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.search_sidebar form input {
    height: 45px;
    width: 80%;
    outline: none;
    border: 1px solid var(--black);
    border-right: none;
    font-size: 16px;
    padding-left: 15px;
}

.search_sidebar form button {
    height: 45px;
    width: 45px;
    outline: none;
    background-color: #fff;
    border: 1px solid var(--black);
}

.category-list {
    list-style: none;
}

.category-item {
    border-bottom: 1px dashed #bdc3c7;
    margin: 15px 0;
    padding: 20px 0;
}

.category-item a {
    color: var(--black);
    font-size: var(--fs-m-large);
}

.paging {
    margin-bottom: 25px;
}

.paging-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.paging-item {
    border: 1px solid #ddd;
    height:35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.paging-item a {
    color: #337AB7;
}

.paging--selected {
    background-color: #007CB7;
}

.paging--selected a {
    color: #fff;
}

.paging--disable a i {
    color: gray;
    cursor: default;
}
/* list article end */

@media (max-width: 739px) {
    .article__img {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .article {
        margin: 0 10px;
    }
}

@media (max-width: 1023px) {
    .article__title {
        margin: 8px 0;
    }

    .article__img {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .article__img img {
        width: 100%;
    }
}