.activity {
    display: flex;
}

.activity img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.activity :is(.right, .left) {
    width: 50%;
    padding: 10px;
}

.activity .left {
    display: grid;
    grid-template-columns: repeat(2, auto);
    --gap: 20px;
    grid-gap: var(--gap);
}

.activity .right {}