@{
    Layout = "_NewsLayout";
}

    <main>
        <!-- Main slider -->
        <section class="lazy slider">
            <div>
                <a href="">
                    <img src="~/Assets/resources/img/Artboard-1_2.jpg" data-sizes="100%">
                </a>
            </div>
            <div>
                <a href="">
                    <img src="~/Assets/resources/img/Artboard-2_2.jpg" data-sizes="100%">
                </a>
            </div>
            <div>
                <a href="">
                    <img src="~/Assets/resources/img/Artboard-3_2.jpg" data-sizes="100%">
                </a>
            </div>
        </section>
        <!-- End main slider -->
        <!-- Scroll to -->
        <section class="scroll-to">
            <div class="grid wide content-menu slider">

            </div>
        </section>
        <!-- End scroll to -->
        <!-- Content slider -->

        <section>
            <div class="grid wide center slider">
                <div>
                    <div class="course">
                        <a href="">
                            <img src="~/Assets/resources/img/course-1.jpg" height="100px" width="100px">
                        </a>
                        <a href="" class="name">
                            experience yourself
                        </a>
                    </div>
                </div>
                <div>
                    <div class="course">
                        <a href="">
                            <img src="~/Assets/resources/img/course-2.jpg" height="100px" width="100px">
                        </a>
                        <a href="" class="name">
                            online learning
                        </a>
                    </div>
                </div>
                <div>
                    <div class="course">
                        <a href="">
                            <img src="~/Assets/resources/img/course-3.jpg" height="100px" width="100px">
                        </a>
                        <a href="" class="name">
                            mastery learning
                        </a>
                    </div>
                </div>
                <div>
                    <div class="course">
                        <a href="">
                            <img src="~/Assets/resources/img/course-4.jpg" height="100px" width="100px">
                        </a>
                        <a href="" class="name">
                            graduation degree
                        </a>
                    </div>
                </div>
                <div>
                    <div class="course">
                        <a href="">
                            <img src="~/Assets/resources/img/course-1.jpg" height="100px" width="100px">
                        </a>
                        <a href="" class="name">
                            experience yourself
                        </a>
                    </div>
                </div>
                <div>
                    <div class="course">
                        <a href="">
                            <img src="~/Assets/resources/img/course-2.jpg" height="100px" width="100px">
                        </a>
                        <a href="" class="name">
                            online learning
                        </a>
                    </div>
                </div>
                <div>
                    <div class="course">
                        <a href="">
                            <img src="~/Assets/resources/img/course-3.jpg" height="100px" width="100px">
                        </a>
                        <a href="" class="name">
                            mastery learning
                        </a>
                    </div>
                </div>
                <div>
                    <div class="course">
                        <a href="">
                            <img src="~/Assets/resources/img/course-4.jpg" height="100px" width="100px">
                        </a>
                        <a href="" class="name">
                            graduation degree
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- End content slider -->
        <!-- News -->
        <section id="events" class="row-ID">
            <div class="grid wide">
                <div class="row content-row">
                    <div class="title col c-12">
                        <a href="./list.html">
                            <h2><i class="fa fa-fire" aria-hidden="true"></i> Sự kiện nổi bật</h2>
                        </a>
                        <div class="underline"></div>
                    </div>
                    <div class="col c-12 m-12 l-8">
                        <div class="col c-12 m-12 l-12">
                            <div class="news">
                                <div class="fill-img cover img">
                                    <a asp-action="Detail">
                                        <img src="~/Assets/resources/img/news-1.jpg" alt="sự kiện">
                                    </a>
                                </div>
                                <div class="info">
                                    <div class="name">
                                        <a href="">
                                            Thông báo hội đồng bảo vệ đồ án tốt nghiệp khoa công nghệ thông tin cho sinh viên đại học chính quy khóa 2017-2021
                                        </a>
                                    </div>
                                    <div class="description">
                                        <div>
                                            <p class="time">
                                                <i class="fa fa-calendar" aria-hidden="true"></i> Thứ 6 ngày 17/6/2021
                                            </p>
                                            <p class="view-count">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                <span>1</span> lượt xem
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col c-12 m-12 l-12 small">
                            <div class="row">
                                <div class="col c-6 m-4 l-4">
                                    <div class="news">
                                        <div class="fill-img cover img">
                                            <a href="">
                                                <img src="~/Assets/resources/img/events-3.jpg" alt="sự kiện">
                                            </a>
                                        </div>
                                        <div class="info">
                                            <div class="name">
                                                <a href="">
                                                    TB điều chỉnh kế hoạch thi tuyển sinh cao học đợt 1 năm 2021
                                                </a>
                                            </div>
                                            <div class="description">
                                                <p class="time">
                                                    <i class="fa fa-calendar" aria-hidden="true"></i> 17/6/2021
                                                </p>
                                                <p class="view-count">
                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                                    <span>1</span> lượt xem
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col c-6 m-4 l-4">
                                    <div class="news">
                                        <div class="fill-img cover img">
                                            <a href="">
                                                <img src="~/Assets/resources/img/events-4.png" alt="sự kiện">
                                            </a>
                                        </div>
                                        <div class="info">
                                            <div class="name">
                                                <a href="">
                                                    Thông báo tuyển dụng Công ty cổ phần Đầu tư Công nghệ E-SPOT
                                                </a>
                                            </div>
                                            <div class="description">
                                                <p class="time">
                                                    <i class="fa fa-calendar" aria-hidden="true"></i> 17/6/2021
                                                </p>
                                                <p class="view-count">
                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                                    <span>1</span> lượt xem
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col c-0 m-0 l-4">
                                    <div class="news">
                                        <div class="fill-img cover img">
                                            <a href="">
                                                <img src="~/Assets/resources/img/events-5.jpg" alt="sự kiện">
                                            </a>
                                        </div>
                                        <div class="info">
                                            <div class="name">
                                                <a href="">
                                                    Hội thảo khoa học cấp trường: Các mô hình học máy cho khai phá dữ liệu
                                                </a>
                                            </div>
                                            <div class="description">
                                                <p class="time">
                                                    <i class="fa fa-calendar" aria-hidden="true"></i> 17/6/2021
                                                </p>
                                                <p class="view-count">
                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                                    <span>1</span> lượt xem
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col c-12 m-12 l-4">
                        <div class="row content-row">
                            <div class="title col c-12 small">
                                <a href="">
                                    <h2>Thông báo</h2>
                                </a>
                            </div>
                            <div class="col c-12 m-6 l-12">
                                <div class="notice">
                                    <div class="date">
                                        <span class="day">10</span>
                                        <span class="month">Th<span>6</span></span>
                                    </div>
                                    <div class="content">
                                        <p>Thông báo về việc điều chỉnh kế hoạch thi tuyển sinh cao học đợt 1 năm 2021</p>
                                        <span><span><i class="fa fa-calendar" aria-hidden="true"></i></span> Thứ 5, ngày 10/6/2021</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col c-12 m-6 l-12">
                                <div class="notice">
                                    <div class="date">
                                        <span class="day">10</span>
                                        <span class="month">Th<span>6</span></span>
                                    </div>
                                    <div class="content">
                                        <p>Thông báo về việc điều chỉnh kế hoạch thi tuyển sinh cao học đợt 1 năm 2021</p>
                                        <span><span><i class="fa fa-calendar" aria-hidden="true"></i></span> Thứ 5, ngày 10/6/2021</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col c-12 m-6 l-12">
                                <div class="notice">
                                    <div class="date">
                                        <span class="day">10</span>
                                        <span class="month">Th<span>6</span></span>
                                    </div>
                                    <div class="content">
                                        <p>Thông báo về việc điều chỉnh kế hoạch thi tuyển sinh cao học đợt 1 năm 2021</p>
                                        <span><span><i class="fa fa-calendar" aria-hidden="true"></i></span> Thứ 5, ngày 10/6/2021</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col c-12 m-6 l-12">
                                <div class="notice">
                                    <div class="date">
                                        <span class="day">10</span>
                                        <span class="month">Th<span>6</span></span>
                                    </div>
                                    <div class="content">
                                        <p>Thông báo về việc điều chỉnh kế hoạch thi tuyển sinh cao học đợt 1 năm 2021</p>
                                        <span><span><i class="fa fa-calendar" aria-hidden="true"></i></span> Thứ 5, ngày 10/6/2021</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col c-12 m-6 l-12">
                                <div class="notice">
                                    <div class="date">
                                        <span class="day">10</span>
                                        <span class="month">Th<span>6</span></span>
                                    </div>
                                    <div class="content">
                                        <p>Thông báo về việc điều chỉnh kế hoạch thi tuyển sinh cao học đợt 1 năm 2021</p>
                                        <span><span><i class="fa fa-calendar" aria-hidden="true"></i></span> Thứ 5, ngày 10/6/2021</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col c-12 m-6 l-12">
                                <div class="notice">
                                    <div class="date">
                                        <span class="day">10</span>
                                        <span class="month">Th<span>6</span></span>
                                    </div>
                                    <div class="content">
                                        <p>Thông báo về việc điều chỉnh kế hoạch thi tuyển sinh cao học đợt 1 năm 2021</p>
                                        <span><span><i class="fa fa-calendar" aria-hidden="true"></i></span> Thứ 5, ngày 10/6/2021</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End news -->
        <!-- Banner -->
        <section>
            <div class="banner">
                <div class="content-row fill">
                    <a href="">
                        <img src="~/Assets/resources/img/Artboard-2_2.jpg" alt="">
                    </a>
                </div>
            </div>
        </section>
        <!-- End banner -->
        <!-- Notice -->
        <section id="notice" class="row-ID">
            <div class="grid wide">
                <div class="row">
                    <div class="col c-12 title">
                        <a href="">

                            <h2><i class="fa fa-graduation-cap" aria-hidden="true"></i> Tin mới</h2>
                            <div class="underline"></div>
                        </a>
                    </div>
                    <div class="col c-12 m-12 l-8">
                        <div class="news horizontal scope">
                            <div class="img">
                                <a href="">
                                    <img src="~/Assets/resources/img/events-1.jpg" alt="sự kiện">
                                </a>
                            </div>
                            <div class="info">
                                <div class="name">
                                    <a href="">
                                        Thông báo hội đồng bảo vệ đồ án tốt nghiệp khoa công nghệ thông tin cho sinh viên đại học chính quy khóa 2017-2021
                                    </a>
                                </div>
                                <div class="description">
                                    <p class="content">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, cum! Suscipit ducimus corrupti libero, atque rerum maxime ea eaque, praesentium neque saepe voluptatibus, minus dolore harum quidem deserunt ut ipsum?
                                    </p>
                                    <div>
                                        <p class="time">
                                            <i class="fa fa-calendar" aria-hidden="true"></i> Thứ 2 ngày 17/6/2021
                                        </p>
                                        <p class="view-count">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                            <span>1</span> lượt xem
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="news horizontal">
                            <div class="img">
                                <a href="">
                                    <img src="~/Assets/resources/img/events-1.jpg" alt="sự kiện">
                                </a>
                            </div>
                            <div class="info">
                                <div class="name">
                                    <a href="">
                                        Thông báo hội đồng bảo vệ đồ án tốt nghiệp khoa công nghệ thông tin cho sinh viên đại học chính quy khóa 2017-2021
                                    </a>
                                </div>
                                <div class="description">
                                    <div>
                                        <p class="time">
                                            <i class="fa fa-calendar" aria-hidden="true"></i> Thứ 2 ngày 17/6/2021
                                        </p>
                                        <p class="view-count">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                            <span>1</span> lượt xem
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="news horizontal">
                            <div class="img">
                                <a href="">
                                    <img src="~/Assets/resources/img/events-1.jpg" alt="sự kiện">
                                </a>
                            </div>
                            <div class="info">
                                <div class="name">
                                    <a href="">
                                        Thông báo hội đồng bảo vệ đồ án tốt nghiệp khoa công nghệ thông tin cho sinh viên đại học chính quy khóa 2017-2021
                                    </a>
                                </div>
                                <div class="description">
                                    <div>
                                        <p class="time">
                                            <i class="fa fa-calendar" aria-hidden="true"></i> Thứ 2 ngày 17/6/2021
                                        </p>
                                        <p class="view-count">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                            <span>1</span> lượt xem
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="news horizontal">
                            <div class="img">
                                <a href="">
                                    <img src="~/Assets/resources/img/events-1.jpg" alt="sự kiện">
                                </a>
                            </div>
                            <div class="info">
                                <div class="name">
                                    <a href="">
                                        Thông báo hội đồng bảo vệ đồ án tốt nghiệp khoa công nghệ thông tin cho sinh viên đại học chính quy khóa 2017-2021
                                    </a>
                                </div>
                                <div class="description">
                                    <div>
                                        <p class="time">
                                            <i class="fa fa-calendar" aria-hidden="true"></i> Thứ 2 ngày 17/6/2021
                                        </p>
                                        <p class="view-count">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                            <span>1</span> lượt xem
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col c-12 m-12 l-4">
                        <div class="row">
                            <div class="col c-12">
                                <div class="title small">
                                    <a href="">
                                        <h2>
                                            Lịch sự kiện
                                        </h2>
                                    </a>
                                </div>
                            </div>
                            <div class="col l-12 m-6 c-12">
                                <div class="schedule">
                                    <div class="time">
                                        <span class="week">Tuần 44</span>
                                        <span class="date">20.5</span>
                                    </div>
                                    <div class="info">
                                        <p class="name">Lịch làm việc tuần 44</p>
                                        <p class="description">Từ: 01/6 - 07/6/2021</p>
                                    </div>
                                    <a href=""></a>
                                </div>
                                <div class="schedule">
                                    <div class="time">
                                        <span class="week">Tuần 44</span>
                                        <span class="date">20.5</span>
                                    </div>
                                    <div class="info">
                                        <p class="name">Lịch làm việc tuần 44</p>
                                        <p class="description">Từ: 01/6 - 07/6/2021</p>
                                    </div>
                                    <a href=""></a>
                                </div>
                            </div>
                            <div class="col l-12 m-6 c-12">
                                <div class="schedule-img">
                                    <a href="">
                                        <img src="~/Assets/resources/img/anhtuyensinh1.png" alt="">
                                    </a>
                                </div>
                                <div class="schedule-img">
                                    <a href="">
                                        <img src="~/Assets/resources/img/viettel1.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
        <!-- End notice -->
        <!-- Activity images -->
        <section id="activity-img" class="row-ID">
            <div class="grid wide">
                <div class="content-row">
                    <div class="row">
                        <div class="col c-12 title">
                            <a href="">
                                <h2><i class="fa fa-picture-o" aria-hidden="true"></i> Một số hình ảnh hoạt động</h2>
                                <div class="underline"></div>
                            </a>
                        </div>
                        <div class="col c-12 activity">
                            <div class="left">
                                <img src="~/Assets/resources/img/activity-1.jpg" alt="activity">
                                <img src="~/Assets/resources/img/activity-1.jpg" alt="activity">
                                <img src="~/Assets/resources/img/activity-1.jpg" alt="activity">
                                <img src="~/Assets/resources/img/activity-1.jpg" alt="activity">
                            </div>
                            <div class="right">
                                <img src="~/Assets/resources/img/activity-1.jpg" alt="activity">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End activity -->
        <!-- Product slider -->
        <section id="product" class="row-ID">
            <div class="grid wide content-row">
                <div class="title">
                    <a href="">
                        <h2><i class="fa fa-stack-exchange" aria-hidden="true"></i> Chuyển giao công nghệ</h2>
                        <div class="underline"></div>
                    </a>
                </div>
                <div class="center slider">
                    <div>
                        <div class="course">
                            <a href="">
                                <img src="~/Assets/resources/img/product.png" height="100px" width="100px">
                            </a>
                            <a href="" class="name">
                                Phần mềm xử lý dữ liệu PCGD
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="course">
                            <a href="">
                                <img src="~/Assets/resources/img/product.png" height="100px" width="100px">
                            </a>
                            <a href="" class="name">
                                Phần mềm xử lý dữ liệu PCGD
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="course">
                            <a href="">
                                <img src="~/Assets/resources/img/product.png" height="100px" width="100px">
                            </a>
                            <a href="" class="name">
                                Phần mềm xử lý dữ liệu PCGD
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="course">
                            <a href="">
                                <img src="~/Assets/resources/img/product.png" height="100px" width="100px">
                            </a>
                            <a href="" class="name">
                                Phần mềm xử lý dữ liệu PCGD
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="course">
                            <a href="">
                                <img src="~/Assets/resources/img/product.png" height="100px" width="100px">
                            </a>
                            <a href="" class="name">
                                Phần mềm xử lý dữ liệu PCGD
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="course">
                            <a href="">
                                <img src="~/Assets/resources/img/product.png" height="100px" width="100px">
                            </a>
                            <a href="" class="name">
                                Phần mềm xử lý dữ liệu PCGD
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="course">
                            <a href="">
                                <img src="~/Assets/resources/img/product.png" height="100px" width="100px">
                            </a>
                            <a href="" class="name">
                                Phần mềm xử lý dữ liệu PCGD
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End product slider -->
        <!-- Activity -->

        <section id="activity" class="row-ID">
            <div class="grid wide bg-whitesmoke padd-left padd-right padd-bottom content-row">
                <div class="row">
                    <div class="title col c-12">
                        <a href="">
                            <h2><i class="fa fa-calendar" aria-hidden="true"></i> Các hoạt động sinh viên</h2>
                            <div class="underline"></div>
                        </a>
                    </div>
                    <div class="col c-12 m-12 l-5">
                        <div class="news col c-12 m-12 l-12">
                            <div class="fill-img cover img">
                                <a href="">
                                    <img src="~/Assets/resources/img/events-1.jpg" alt="sự kiện">
                                </a>
                            </div>
                            <div class="info">
                                <div class="name">
                                    <a href="">
                                        Thông báo hội đồng bảo vệ đồ án tốt nghiệp khoa công nghệ thông tin cho sinh viên đại học chính quy khóa 2017-2021
                                    </a>
                                </div>
                                <div class="description">
                                    <div>
                                        <p class="time">
                                            <i class="fa fa-calendar" aria-hidden="true"></i> Thứ 2 ngày 17/6/2021
                                        </p>
                                        <p class="view-count">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                            <span>1</span> lượt xem
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col c-12 m-12 l-7">
                        <div class="row">
                            <div class="news horizontal col c-12">
                                <div class="fill-img cover img">
                                    <a href="">
                                        <img src="~/Assets/resources/img/events-3.jpg" alt="sự kiện">
                                    </a>
                                </div>
                                <div class="info">
                                    <div class="name">
                                        <a href="">
                                            TB điều chỉnh kế hoạch thi tuyển sinh cao học đợt 1 năm 2021
                                        </a>
                                    </div>
                                    <div class="description">
                                        <div>
                                            <p class="time">
                                                <i class="fa fa-calendar" aria-hidden="true"></i> Thứ 2 ngày 17/6/2021
                                            </p>
                                            <p class="view-count">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                <span>1</span> lượt xem
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="news horizontal col c-12">
                                <div class="fill-img cover img">
                                    <a href="">
                                        <img src="~/Assets/resources/img/events-4.png" alt="sự kiện">
                                    </a>
                                </div>
                                <div class="info">
                                    <div class="name">
                                        <a href="">
                                            Thông báo tuyển dụng Công ty cổ phần Đầu tư Công nghệ E-SPOT
                                        </a>
                                    </div>
                                    <div class="description">
                                        <div>
                                            <p class="time">
                                                <i class="fa fa-calendar" aria-hidden="true"></i> Thứ 2 ngày 17/6/2021
                                            </p>
                                            <p class="view-count">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                <span>1</span> lượt xem
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="news horizontal col c-12">
                                <div class="fill-img cover img">
                                    <a href="">
                                        <img src="~/Assets/resources/img/events-5.jpg" alt="sự kiện">
                                    </a>
                                </div>
                                <div class="info">
                                    <div class="name">
                                        <a href="">
                                            Hội thảo khoa học cấp trường: Các mô hình học máy cho khai phá dữ liệu
                                        </a>
                                    </div>
                                    <div class="description">
                                        <div>
                                            <p class="time">
                                                <i class="fa fa-calendar" aria-hidden="true"></i> Thứ 2 ngày 17/6/2021
                                            </p>
                                            <p class="view-count">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                <span>1</span> lượt xem
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- End activity -->
        <!-- Partner slider -->

        <section id="partner" class="row-ID">
            <div class="grid wide content-row">
                <div class="title">
                    <a href="">
                        <h2><i class="fa fa-handshake-o" aria-hidden="true"></i> Đối tác</h2>
                        <div class="underline"></div>
                    </a>
                </div>
                <div class="center slider">
                    <div>
                        <div class="course">
                            <a href="">
                                <img src="~/Assets/resources/img/brands/fsoft1-150x150.png" height="100px" width="100px">
                            </a>

                        </div>
                    </div>
                    <div>
                        <div class="course">
                            <a href="">
                                <img src="~/Assets/resources/img/brands/misa1-150x150.jpg" height="100px" width="100px">
                            </a>

                        </div>
                    </div>
                    <div>
                        <div class="course">
                            <a href="">
                                <img src="~/Assets/resources/img/brands/nhattung1-150x150.jpg" height="100px" width="100px">
                            </a>

                        </div>
                    </div>
                    <div>
                        <div class="course">
                            <a href="">
                                <img src="~/Assets/resources/img/brands/tokyo1-150x150.jpg" height="100px" width="100px">
                            </a>

                        </div>
                    </div>
                    <div>
                        <div class="course">
                            <a href="">
                                <img src="~/Assets/resources/img/brands/vnpt1-150x150.jpg" height="100px" width="100px">
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- End partner slider -->

    </main>
